@import url("smartphone.css") screen and (max-device-width: 480px);

@media screen and (max-device-width: 480px) {
    .column {
        float: none;
    }
}

@media screen and (max-width: 600px) {
    .mast,
    .intro,
    .main,
    .footer {
        float: none;
        width: auto;
    }
}
@media screen and (max-width: 400px) {
    .figure, 
    li#f-mycroft {
        margin-right: 3.317535545023696682%;    /* 21px / 633px */
        width: 48.341232227488151658%;          /* 306px / 633px */
    }

    li#f-watson, 
    li#f-moriarty {
        margin-right: 0;
    }
}

@media screen and (min-width: 1300px) {
    .figure, li#f-mycroft {
        margin-right: 3.317535545023696682%;    /* 21px / 633px */
        width: 13.902053712480252764%;          /* 88px / 633px */
    }
}